.contact-container {
  max-width: 700px;
  margin: 0px auto;
  /* background: #fff; */
  padding: 30px;
  border-radius: 15px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  /* color: #0078d7; */
}
.contact-info {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 25px;
}
.contact-info p {
  margin: 10px 0;
}
.contact-info span {
  font-weight: bold;
}